body.auth-page {
  background: linear-gradient(to right, rgb(248, 242, 238), rgb(134, 134, 134));
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  background-color: rgb(163, 161, 161);
}

.form-control:focus {
  border-color: #170827;
  box-shadow: 0 0 0 0.25rem rgba(5, 1, 8, 0.25);
}
.form-select:focus {
  border-color: #170827;
  box-shadow: 0 0 0 0.25rem rgba(5, 1, 8, 0.25);
}
#search-button:hover {
  scale: calc(1.07);
}
#cancel:hover {
  scale: calc(1.07);
}
